h1 {
  color: rgb(212, 18, 115);
  text-align: center;
  padding-top: 15px;
}
#article1pg1 {
  text-align: center;
}
#submitpg1 {
  text-align: center;
  padding-bottom: 50px;
}
#back {
  width: 2%;
  padding-left: 540px;
}
#name_email {
  text-align: center;
}
#endereco_telefone {
  text-align: center;
}
#estado_cidade {
  text-align: center;
}
#footer {
  text-align: left;
  padding-top: 100px;
}
body {
  background-image: html(
    "https://img.freepik.com/premium-vector/job-career-with-big-word-style-team-people-office-around-with-business-icon_25147-252.jpg?w=900"
  );
  background-position: center;
  background-size: cover;
  background-color: rgb(197, 205, 212);
}
